{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'urlshortner/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'urlshortner/css/normalize.css' %}">
    <link rel="icon" href="{% static 'urlshortner/images/url_shortner.png' %}">
    <title>Url Shorner</title>
</head>
<body>
    
    {% block content %}
        
    {% endblock %}
        
</body>
</html>